.info {
    display: flex;
    margin: 10% 0 30px 50px;
}

.info-text {
    font-size: 1em;
}

.info-img {
    margin-left: 55%;
    padding-top: 2%;
}

.profile {
    display: flex;
    flex-direction: column;
}

.profileimg {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.profile-text {
    display: flex;
    justify-content: center;
    font-size: 19px;
}

.title {
    display: flex;
    justify-content: center;
    font-size: 1.2em;
    padding-bottom: 3%;
}

hr {
    width: 70%;
    margin: 0 auto;
}

.diarytext{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.text2{
    font-size: 15px;
    width: 300px;
    height: 300px;
    border: none;
    padding-left: 10px; 
}

.text2:focus{
    outline: none;
}