/* .diarycover img{
    max-width: auto;
    height: 50%;
}

.goto-write {
    margin-top: 1%;
    display: flex;
    justify-content: flex-end;
}

.goto-write-btn {
    height: 10%;
    margin-right: 2%;
    background-color: white;
    border: none;
}

.diary-list {
    width: auto;
    overflow-y: scroll;
    max-height: 450px;
}

.list{
    display: flex;
    margin: 24px 40px 24px 30px;
}

.list-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 15px;
}

.name {
    font-size: 0.9em;
    color: gray;
} */

.diarycover {
    text-align: center; /* 이미지를 가운데 정렬합니다. */
}

.diarycover img {
    max-width: 100%; /* 이미지가 부모 요소에 맞게 크기를 조절합니다. */
    height: auto; /* 이미지의 높이는 가로 비율에 따라 조절됩니다. */
}

.goto-write {
    margin-top: 1%;
    display: flex;
    justify-content: flex-end;
}

.goto-write-btn {
    height: 50px; /* 버튼 높이를 원하는 크기로 조절합니다. */
    margin-right: 2%;
    background-color: white;
    border: none;
}

.diary-list {
    width: auto;
    overflow-y: scroll;
    max-height: 450px;
}

.list {
    display: flex;
    margin: 24px 40px 24px 30px;
}

.list-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 15px;
}

.name {
    font-size: 0.9em;
    color: gray;
}
