*{
    margin: 0;
    padding: 0;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: black;
}

.nav{
    position: fixed;
    bottom: 0;
    height: 70px;
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: white;
}

.nav-list{
    display: flex;
    flex-direction: row;
}

.nav-item{
    margin: 20px 45px 25px 45px;
}